{% extends 'layout.html' %}
{% block body %}
<center>
	<div class="col-md-5">

		<div class="card card-body" align="center" >
		
			<div class="container pt-5 mb-5">
				<a href="/reporte_ventas">REPORTE DE VENTAS</a>
			</div>
			<div class="container pt-5 mb-5">
				<a href="/reporte_ingresos">REPORTE DE INGRESOS</a>
			</div>	
			<div class="container pt-5 mb-5">
				<a href="/reporte_reordenar">REPORTE DE REORDEN</a>
			</div>
			<div class="container pt-5 mb-5">
				<a href="/reporte_productos">REPORTE GENERAL DE PRODUCTOS</a>
			</div>
		
		</div>
	</div>
</center>
	
	
	
	





{% endblock %}
